<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Search</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <%- include('nav.ejs', { isLoggedIn: isLoggedIn }) %>
  <br><br>
  <h1>Product Search</h1>
   <form action="/api/v1/search" method="get">
      <input name="product" type="text" id="search-text" placeholder="Enter product name">
      <button id="search-button">Search</button>
   </form>

</body>