<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>

    <link rel="stylesheet" href="/style.css">

</head>
<body>
     
     <div class="outer-box">
         <div class="inner-box">
             <header class="signup-header">
                 <h1>Signup</h1>
                                  <p>It just takes 30 seconds</p>
             </header>

             <main class="signup-body">
                <form action="/api/v1/auth/register" method="post">
                     <p>
                       <label for="fullname">Fullname</label>
                       <input name="name" type="text" id="fullname" placeholder="Raju" required>
                     </p>

                     <p>
                        <label for="email">Enter your email</label>
                        <input name="email" type="email" id="email" placeholder="abc@gmail.com" required>
                     </p>

                     <p>
                       <label for="password">Enter your passowrd</label>
                       <input name="password" type="password" id="password" placeholder="@gameOn" required>
                     </p>

                     <p>
                        <input type="submit" id="submit" value="Create Account">
                     </p>
                </form>
             </main>

             <footer class="signup-footer">
                 <p>Already have an account? <a href="login.html">Login</a></p>
             </footer>
         </div>

         <div class="circle c1"></div>
         <div class="circle c2"></div>
     </div>

</body>
</html>